.direnv/
.git/
.github/
.vscode/
coverage/
docs/
html/
node_modules/
src/**/*.test.ts
.envrc
.gitignore
.npmignore
.prettierrc
flake.lock
flake.nix
renovate.json
tsconfig.json
tsup.config.ts
typedoc.json
vitest.config.ts
